<html>
<head>
<meta charset="UTF-8" />
<title>图片管理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/editshow.css">
</head>
<body>
<div class="as_top" style="width:100%;height:30px;">
	<a href="imglist.html">列表</a>
</div>
<div style="width:100%;height:200px;">
	<form class="as_form" action="imgadd.php" method="post" >
		<input type="text" placeholder="图片标题" name="mgtitle" />
		<input type="text" placeholder="图片地址" name="mgurl" />
		<input type="submit" placeholder="提交" style="margin-top: 10px;width: 100px;height: 30px;" />
	</form>
</div>
</body>
</html>